PORT=3000
NODE_ENV=development
JWT_SECRET=replace_this_secret
JWT_EXPIRES_IN=1h
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=replace_this_password
DB_NAME=aesa_frio_calor
DB_SYNCHRONIZE=false
