# Dependencias
node_modules/

# Build
dist/

# Variables de entorno
.env

# Coverage
coverage/

# Logs
logs
*.log
npm-debug.log*

# Archivos del sistema
.DS_Store
Thumbs.db

# VS Code
.vscode/

# NestJS
*.tsbuildinfo